# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Testing files
coverage/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
